<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>台新 @GoGo 現金回饋計算機</title>
  <meta property="og:title" content="台新 @GoGo 現金回饋計算機">
  <meta property="og:url" content="https://osk2.me:9090">
  <meta property="og:image" content="https://osk2.me:9090/img/richart-logo.png">
  <meta property="og:description" content="非官方的現金回饋計算機，快來算算看回饋有沒有被漏掉了">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="components/font-awesome/css/font-awesome.min.css">
  <style>
    .app {
      margin: 0;
    }
    .text.white {
      color: #ffffff;
    }
    .item {
      margin-bottom: 15px;
      background: #f8f8f8;
      border-radius: 4px;
      font-size: 1.1em;
    }

    .item-type {
      padding: 15px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    .item-type.bonus {
      background: #59c3c3;
    }

    .item-type.no-rebate {
      background: #f45b69;
    }

    .item-detail {
      padding: 25px 15px 15px 30px;
    }
  </style>
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">@GoGo 回饋計算機</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/">首頁</a></li>
            <li class="active"><a href="/list.html">收錄通路</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://github.com/osk2/gogo-cash-rebate" target="_blank">GitHub</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="row app">
      <div class="col-md-12">
        <div
          v-for="list in lists"
        >
          <div class="row item">
            <div class="col-md-10 col-xs-8 item-detail">
              <h4>
                {{list.item}}
                <br>
                <small class="text-muted" v-if="list.note">{{list.note}}</small>
                <small v-if="list.contributor" class="text-muted">
                  <i class="fa fa-user" aria-hidden="true"></i> 
                  本通路由 {{list.contributor}} 提供
                </small>
              </h4>
            </div>
            <div
              :class="[
                'col-md-2',
                'col-xs-4',
                'item-type',
                getRateDescription(list.rate).rateClass]"
            >
              <h4 class="white text">
                <span style="font-size: 1.5em">{{getRateDescription(list.rate).rateNumber}}</span>
                <br>
                <small class="white text">{{getRateDescription(list.rate).rateText}}</small>
              </h4>

            </div>
          </div>
        </div>
        <p>&nbsp;</p>
        <div class="alert alert-info" role="alert">
          <h4>漏掉哪個通路了嗎？ <a href="feedback.html" class="btn btn-default">趕快告訴大家！</a></h4>
        </div>
        <p>&nbsp;</p>
        <p class="text-right text-muted">一般通路回饋固定為 1.5%，故不再列入本清單</p>
        <p>&nbsp;</p>
      </div>
    </div>
  </div>
  <script src="components/jquery/dist/jquery.min.js"></script>
  <script src="components/axios/dist/axios.min.js"></script>
  <script src="components/vue/dist/vue.min.js"></script>
  <script src="https://cdn.ravenjs.com/3.17.0/raven.min.js" crossorigin="anonymous"></script>
  <script>
    !function(g,o,G,O){g.GoogleAnalyticsObject=G;g[G]||(g[G]=function(){
    (g[G].q=g[G].q||[]).push(arguments)});g[G].l=+new Date;O=o.createElement('script');
    var e=o.scripts[0];O.src='//www.google-analytics.com/analytics.js';
    e.parentNode.insertBefore(O,e)}(window,document,'gogo');

    gogo('create', 'UA-69159377-5', 'auto');
    gogo('send', 'pageview');
  </script>
  <script>
    Raven.config('https://7dc4836f8b1443adbceb2f27c1d5b461@sentry.io/205428').install();

    const listItem = new Vue({
      el: '.app',
      data: {
        lists: []
      },
      methods: {
        getRateDescription(rate) {
          const isBonus = rate > 0;
          let rateClass = '';
          let rateText = '';
          let rateNumber = '';

          rateClass = isBonus ? 'bonus' : 'no-rebate';
          rateText = isBonus ? '指定通路加碼' : '無現金回饋';
          rateNumber = (rate * 100).toString() + '%';

          return {rateClass, rateText, rateNumber};
        }
      },
      mounted() {
        axios
        .get('/rateLists')
        .then(response => {
          listItem.lists = response.data.rates;
        });
      }
    });
  </script>
</body>
<body>